<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion - PIN</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Connexion - Étape 2</h2>

    <p th:if="${error}" th:text="${error}" style="color: red;"></p>

    <form action="/auth/authenticate2" method="post">
        <input type="hidden" name="email" th:value="${email}">
        
        <label>PIN :</label>
        <input type="text" name="pin" required>
        <button type="submit">Suivant</button>
    </form>
</body>
</html>
