<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion - Mot de passe</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Connexion - Derniere Étape</h2>

    <p th:if="${error}" th:text="${error}" style="color: red;"></p>

    <form action="/auth/authenticate3" method="post">
        <input type="hidden" name="email" th:value="${email}">
        
        <label>Mot de passe :</label>
        <input type="password" name="password" required>
        <button type="submit">Se connecter</button>
    </form>
</body>
</html>
