--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: user_; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_ (id, email, name, firstname, validation_date, password, id_admin) FROM stdin;
b49f1f09-6798-421d-9546-f1792d952f39	fanasinamanantsoa30@gmail.com		Admin	2025-03-12 00:00:00	$2a$06$pCXEF8jtguYwXZEk3qy8vuWqt8ZgsTIfGp2ZajYvSp2qakZ1Kt9Qq	t
\.


--
-- Data for Name: actualite; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.actualite (id, titre, description, date_ajout, id_user) FROM stdin;
\.


--
-- Data for Name: attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attempts (id, date_next_attempt, count_attempt, id_user) FROM stdin;
1	\N	0	b49f1f09-6798-421d-9546-f1792d952f39
\.


--
-- Data for Name: configuration; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.configuration (id, keys, valeurs) FROM stdin;
1	pin_expiration_minute	10
2	pin_length	6
3	sending_email_pin_content	Nous vous envoyons un pin de connexion.
4	count_attempt	3
5	next_attempt_minute	10
\.


--
-- Data for Name: general_info; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: langue; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.langue (id, nom, icon) FROM stdin;
1	MLG	\N
2	FRA	\N
3	ENG	\N
\.


--
-- Data for Name: general_info_valeur; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: groupe; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.groupe (id, nom) FROM stdin;
\.


--
-- Data for Name: piece_jointe; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.piece_jointe (id, is_image, nom_fichier, url_fichier, id_actualite) FROM stdin;
\.


--
-- Data for Name: user_pin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_pin (id, pin, creation_date, expiration_date, id_user) FROM stdin;
1	922655	2025-03-12 02:52:15.586787	2025-03-12 03:02:15.586787	b49f1f09-6798-421d-9546-f1792d952f39
2	471457	2025-03-12 08:53:21.965224	2025-03-12 09:03:21.965224	b49f1f09-6798-421d-9546-f1792d952f39
3	376341	2025-03-12 09:15:01.27241	2025-03-12 09:25:01.27241	b49f1f09-6798-421d-9546-f1792d952f39
\.


--
-- Data for Name: user_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_token (id, token, creation_date, expiration_date, id_user) FROM stdin;
\.


--
-- Name: actualite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.actualite_id_seq', 1, false);


--
-- Name: attempts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attempts_id_seq', 1, true);


--
-- Name: configuration_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.configuration_id_seq', 5, true);


--
-- Name: general_info_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.general_info_id_seq', 50, true);


--
-- Name: general_info_valeur_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.general_info_valeur_id_seq', 147, true);


--
-- Name: groupe_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.groupe_id_seq', 1, false);


--
-- Name: langue_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.langue_id_seq', 1, false);


--
-- Name: piece_jointe_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.piece_jointe_id_seq', 1, false);


--
-- Name: user_pin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_pin_id_seq', 3, true);


--
-- Name: user_token_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_token_id_seq', 1, false);


--
-- PostgreSQL database dump complete
--

