--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: create_general_info_valeur_for_all_languages(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.create_general_info_valeur_for_all_languages() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    lang_record RECORD;
BEGIN
    -- Boucler sur toutes les langues disponibles dans la table `langue`
    FOR lang_record IN SELECT id FROM langue LOOP
        -- InsÔÇÜrer un enregistrement dans `general_info_valeur` pour chaque langue
        INSERT INTO general_info_valeur (titre, valeur, entete, bouton, id_langue, id_general_info)
        VALUES ('', '', '', '', lang_record.id, NEW.id); -- NEW.id est l'ID du `general_info` insÔÇÜrÔÇÜ
    END LOOP;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.create_general_info_valeur_for_all_languages() OWNER TO postgres;

--
-- Name: insert_attempt_on_user_insert(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.insert_attempt_on_user_insert() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    INSERT INTO attempts (date_next_attempt, count_attempt, id_user)
    VALUES (NULL, 0, NEW.id);
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.insert_attempt_on_user_insert() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: actualite; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.actualite (
    id bigint NOT NULL,
    titre text NOT NULL,
    description text NOT NULL,
    date_ajout timestamp without time zone NOT NULL,
    id_user uuid NOT NULL
);


ALTER TABLE public.actualite OWNER TO postgres;

--
-- Name: actualite_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.actualite_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.actualite_id_seq OWNER TO postgres;

--
-- Name: actualite_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.actualite_id_seq OWNED BY public.actualite.id;


--
-- Name: attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attempts (
    id bigint NOT NULL,
    date_next_attempt timestamp without time zone,
    count_attempt integer,
    id_user uuid NOT NULL
);


ALTER TABLE public.attempts OWNER TO postgres;

--
-- Name: attempts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attempts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.attempts_id_seq OWNER TO postgres;

--
-- Name: attempts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attempts_id_seq OWNED BY public.attempts.id;


--
-- Name: configuration; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.configuration (
    id bigint NOT NULL,
    keys character varying(50),
    valeurs text
);


ALTER TABLE public.configuration OWNER TO postgres;

--
-- Name: configuration_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.configuration_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.configuration_id_seq OWNER TO postgres;

--
-- Name: configuration_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.configuration_id_seq OWNED BY public.configuration.id;


--
-- Name: general_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.general_info (
    id bigint NOT NULL,
    cle text NOT NULL,
    icone text,
    lien text,
    id_general_info bigint
);


ALTER TABLE public.general_info OWNER TO postgres;

--
-- Name: general_info_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.general_info_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.general_info_id_seq OWNER TO postgres;

--
-- Name: general_info_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.general_info_id_seq OWNED BY public.general_info.id;


--
-- Name: general_info_valeur; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.general_info_valeur (
    id bigint NOT NULL,
    titre text NOT NULL,
    valeur text NOT NULL,
    entete text,
    bouton text,
    id_langue bigint NOT NULL,
    id_general_info bigint NOT NULL
);


ALTER TABLE public.general_info_valeur OWNER TO postgres;

--
-- Name: general_info_valeur_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.general_info_valeur_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.general_info_valeur_id_seq OWNER TO postgres;

--
-- Name: general_info_valeur_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.general_info_valeur_id_seq OWNED BY public.general_info_valeur.id;


--
-- Name: groupe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.groupe (
    id bigint NOT NULL,
    nom character varying(50) NOT NULL
);


ALTER TABLE public.groupe OWNER TO postgres;

--
-- Name: groupe_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.groupe ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.groupe_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: langue; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.langue (
    id bigint NOT NULL,
    nom character varying(50),
    icon character varying(255)
);


ALTER TABLE public.langue OWNER TO postgres;

--
-- Name: langue_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.langue_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.langue_id_seq OWNER TO postgres;

--
-- Name: langue_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.langue_id_seq OWNED BY public.langue.id;


--
-- Name: piece_jointe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.piece_jointe (
    id bigint NOT NULL,
    is_image boolean,
    nom_fichier text NOT NULL,
    url_fichier text NOT NULL,
    id_actualite bigint NOT NULL
);


ALTER TABLE public.piece_jointe OWNER TO postgres;

--
-- Name: piece_jointe_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.piece_jointe_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.piece_jointe_id_seq OWNER TO postgres;

--
-- Name: piece_jointe_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.piece_jointe_id_seq OWNED BY public.piece_jointe.id;


--
-- Name: user_; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_ (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(50),
    firstname character varying(50),
    validation_date timestamp without time zone,
    password character varying(255) NOT NULL,
    id_admin boolean DEFAULT false
);


ALTER TABLE public.user_ OWNER TO postgres;

--
-- Name: user_pin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_pin (
    id bigint NOT NULL,
    pin character varying(255) NOT NULL,
    creation_date timestamp without time zone NOT NULL,
    expiration_date timestamp without time zone,
    id_user uuid NOT NULL
);


ALTER TABLE public.user_pin OWNER TO postgres;

--
-- Name: user_pin_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_pin_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_pin_id_seq OWNER TO postgres;

--
-- Name: user_pin_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_pin_id_seq OWNED BY public.user_pin.id;


--
-- Name: user_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_token (
    id integer NOT NULL,
    token uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    creation_date timestamp without time zone NOT NULL,
    expiration_date timestamp without time zone,
    id_user uuid NOT NULL
);


ALTER TABLE public.user_token OWNER TO postgres;

--
-- Name: user_token_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_token_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_token_id_seq OWNER TO postgres;

--
-- Name: user_token_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_token_id_seq OWNED BY public.user_token.id;


--
-- Name: actualite id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actualite ALTER COLUMN id SET DEFAULT nextval('public.actualite_id_seq'::regclass);


--
-- Name: attempts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempts ALTER COLUMN id SET DEFAULT nextval('public.attempts_id_seq'::regclass);


--
-- Name: configuration id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuration ALTER COLUMN id SET DEFAULT nextval('public.configuration_id_seq'::regclass);


--
-- Name: general_info id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_info ALTER COLUMN id SET DEFAULT nextval('public.general_info_id_seq'::regclass);


--
-- Name: general_info_valeur id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_info_valeur ALTER COLUMN id SET DEFAULT nextval('public.general_info_valeur_id_seq'::regclass);


--
-- Name: langue id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.langue ALTER COLUMN id SET DEFAULT nextval('public.langue_id_seq'::regclass);


--
-- Name: piece_jointe id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.piece_jointe ALTER COLUMN id SET DEFAULT nextval('public.piece_jointe_id_seq'::regclass);


--
-- Name: user_pin id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_pin ALTER COLUMN id SET DEFAULT nextval('public.user_pin_id_seq'::regclass);


--
-- Name: user_token id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_token ALTER COLUMN id SET DEFAULT nextval('public.user_token_id_seq'::regclass);


--
-- Data for Name: actualite; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.actualite (id, titre, description, date_ajout, id_user) FROM stdin;
\.


--
-- Data for Name: attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attempts (id, date_next_attempt, count_attempt, id_user) FROM stdin;
1	\N	0	b49f1f09-6798-421d-9546-f1792d952f39
\.


--
-- Data for Name: configuration; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.configuration (id, keys, valeurs) FROM stdin;
1	pin_expiration_minute	10
2	pin_length	6
3	sending_email_pin_content	Nous vous envoyons un pin de connexion.
4	count_attempt	3
5	next_attempt_minute	10
\.


--
-- Data for Name: general_info; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: general_info_valeur; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: groupe; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.groupe (id, nom) FROM stdin;
\.


--
-- Data for Name: langue; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.langue (id, nom, icon) FROM stdin;
1	MLG	\N
2	FRA	\N
3	ENG	\N
\.


--
-- Data for Name: piece_jointe; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.piece_jointe (id, is_image, nom_fichier, url_fichier, id_actualite) FROM stdin;
\.


--
-- Data for Name: user_; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_ (id, email, name, firstname, validation_date, password, id_admin) FROM stdin;
b49f1f09-6798-421d-9546-f1792d952f39	fanasinamanantsoa30@gmail.com		Admin	2025-03-12 00:00:00	$2a$06$pCXEF8jtguYwXZEk3qy8vuWqt8ZgsTIfGp2ZajYvSp2qakZ1Kt9Qq	t
\.


--
-- Data for Name: user_pin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_pin (id, pin, creation_date, expiration_date, id_user) FROM stdin;
1	922655	2025-03-12 02:52:15.586787	2025-03-12 03:02:15.586787	b49f1f09-6798-421d-9546-f1792d952f39
2	471457	2025-03-12 08:53:21.965224	2025-03-12 09:03:21.965224	b49f1f09-6798-421d-9546-f1792d952f39
3	376341	2025-03-12 09:15:01.27241	2025-03-12 09:25:01.27241	b49f1f09-6798-421d-9546-f1792d952f39
\.


--
-- Data for Name: user_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_token (id, token, creation_date, expiration_date, id_user) FROM stdin;
\.


--
-- Name: actualite_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.actualite_id_seq', 1, false);


--
-- Name: attempts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attempts_id_seq', 1, true);


--
-- Name: configuration_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.configuration_id_seq', 5, true);


--
-- Name: general_info_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.general_info_id_seq', 50, true);


--
-- Name: general_info_valeur_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.general_info_valeur_id_seq', 147, true);


--
-- Name: groupe_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.groupe_id_seq', 1, false);


--
-- Name: langue_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.langue_id_seq', 1, false);


--
-- Name: piece_jointe_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.piece_jointe_id_seq', 1, false);


--
-- Name: user_pin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_pin_id_seq', 3, true);


--
-- Name: user_token_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_token_id_seq', 1, false);


--
-- Name: actualite actualite_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actualite
    ADD CONSTRAINT actualite_pkey PRIMARY KEY (id);


--
-- Name: attempts attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_pkey PRIMARY KEY (id);


--
-- Name: configuration configuration_keys_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuration
    ADD CONSTRAINT configuration_keys_key UNIQUE (keys);


--
-- Name: configuration configuration_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuration
    ADD CONSTRAINT configuration_pkey PRIMARY KEY (id);


--
-- Name: general_info general_info_cle_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_info
    ADD CONSTRAINT general_info_cle_key UNIQUE (cle);


--
-- Name: general_info general_info_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_info
    ADD CONSTRAINT general_info_pkey PRIMARY KEY (id);


--
-- Name: general_info_valeur general_info_valeur_id_langue_id_general_info_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_info_valeur
    ADD CONSTRAINT general_info_valeur_id_langue_id_general_info_key UNIQUE (id_langue, id_general_info);


--
-- Name: general_info_valeur general_info_valeur_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_info_valeur
    ADD CONSTRAINT general_info_valeur_pkey PRIMARY KEY (id);


--
-- Name: groupe groupe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.groupe
    ADD CONSTRAINT groupe_pkey PRIMARY KEY (id);


--
-- Name: langue langue_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.langue
    ADD CONSTRAINT langue_pkey PRIMARY KEY (id);


--
-- Name: piece_jointe piece_jointe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.piece_jointe
    ADD CONSTRAINT piece_jointe_pkey PRIMARY KEY (id);


--
-- Name: configuration uk703e9cfxcq9ia7a3lj3kkjkib; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuration
    ADD CONSTRAINT uk703e9cfxcq9ia7a3lj3kkjkib UNIQUE (keys);


--
-- Name: user_ user__email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_
    ADD CONSTRAINT user__email_key UNIQUE (email);


--
-- Name: user_ user__pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_
    ADD CONSTRAINT user__pkey PRIMARY KEY (id);


--
-- Name: user_pin user_pin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_pin
    ADD CONSTRAINT user_pin_pkey PRIMARY KEY (id);


--
-- Name: user_token user_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_token
    ADD CONSTRAINT user_token_pkey PRIMARY KEY (id);


--
-- Name: user_token user_token_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_token
    ADD CONSTRAINT user_token_token_key UNIQUE (token);


--
-- Name: general_info trigger_create_general_info_valeur; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_create_general_info_valeur AFTER INSERT ON public.general_info FOR EACH ROW EXECUTE FUNCTION public.create_general_info_valeur_for_all_languages();


--
-- Name: user_ user_insert_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER user_insert_trigger AFTER INSERT ON public.user_ FOR EACH ROW EXECUTE FUNCTION public.insert_attempt_on_user_insert();


--
-- Name: actualite actualite_id_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actualite
    ADD CONSTRAINT actualite_id_user_fkey FOREIGN KEY (id_user) REFERENCES public.user_(id);


--
-- Name: attempts attempts_id_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_id_user_fkey FOREIGN KEY (id_user) REFERENCES public.user_(id);


--
-- Name: general_info general_info_id_general_info_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_info
    ADD CONSTRAINT general_info_id_general_info_fkey FOREIGN KEY (id_general_info) REFERENCES public.general_info(id) ON DELETE CASCADE;


--
-- Name: general_info_valeur general_info_valeur_id_general_info_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_info_valeur
    ADD CONSTRAINT general_info_valeur_id_general_info_fkey FOREIGN KEY (id_general_info) REFERENCES public.general_info(id) ON DELETE CASCADE;


--
-- Name: general_info_valeur general_info_valeur_id_langue_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_info_valeur
    ADD CONSTRAINT general_info_valeur_id_langue_fkey FOREIGN KEY (id_langue) REFERENCES public.langue(id);


--
-- Name: piece_jointe piece_jointe_id_actualite_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.piece_jointe
    ADD CONSTRAINT piece_jointe_id_actualite_fkey FOREIGN KEY (id_actualite) REFERENCES public.actualite(id) ON DELETE CASCADE;


--
-- Name: user_pin user_pin_id_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_pin
    ADD CONSTRAINT user_pin_id_user_fkey FOREIGN KEY (id_user) REFERENCES public.user_(id);


--
-- Name: user_token user_token_id_user_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_token
    ADD CONSTRAINT user_token_id_user_fkey FOREIGN KEY (id_user) REFERENCES public.user_(id);


--
-- PostgreSQL database dump complete
--

